body {
    background-image: url('./img/bg1.jpg');
    background-size : cover;
}

.hr {
    height          : 0.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.card {
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
    cursor    : pointer;
}

.card:hover {
    transform: scale(1.1);
}

.table.tr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    ;
}

.graph {
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
    opacity   : 0.6;
    height    : 450px;
    width     : 100%;
}